## Ignore Visual Studio temporary files, build results, and
## user-specific files

# Build results
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.app
*.log
*.vspscc
*.vssscc

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.sdf
*.cache
*.dbmdl
*.pdb

# Visual Studio Code settings
.vscode/

# Visual Studio folder
.vs/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Web projects
wwwroot/lib/
node_modules/
bower_components/
dist/

# NuGet packages
*.nupkg
packages/
**/packages/*
!**/packages/build/
!**/packages/repositories.config
.nuget/

# Rider
.idea/

# Test results
TestResults/
*.coverage
*.coveragexml

# Others
*.orig
*.tmp
*.bak

# Publish outputs
publish/
*.Publish.xml

# Azure Pipelines
.azure-pipelines/

# macOS & Linux files
.DS_Store
Thumbs.db
